html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Cairo', sans-serif;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  direction: rtl;
  overflow-x: hidden !important;
}
a {
  color: inherit;
  text-decoration: none !important;
}
* {
  box-sizing: border-box;
}
h1 , h2 ,h3 ,h4 ,h5 ,h6 ,li ,ul ,p {
  padding: 0;
  margin: 0;
}
@media (max-width:600px) {   
  h1 {
font-size: 1.5rem;
  }
  h2 {
    font-size: 1.3rem;
font-weight: bold;
  }
}
@media (max-width:400px) {   
 
  h2 {
    font-size: 1.2rem;
font-weight: bold;
  }
  h3 {
    font-size: 1.1rem;
font-weight: bold;
  }
}

@media (max-width: 767.98px) { 
  .headerResponsive{
    height: 100vh !important;
  }  
 }

 .Home_Header_content__GWEpd{
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }



 .offcanvas-backdrop {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 1040 !important;
  width: 100vw !important;
  height: 100vh !important;
  background-color: #000 !important;
}

.offcanvas-body, offcanvas-header{
  background-color: #333333 !important;
}

.Home_grid_section__A_kQo{
  justify-content: center !important;
}


.breadcrumb-bar {
  background-color: #15558d;
  padding: 15px 0;
}
.breadcrumb-bar .breadcrumb-title {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  margin: 5px 0 0;
}
.page-breadcrumb ol {
  background-color: transparent;
  font-size: 14px;
  padding: 20px;
}
.page-breadcrumb ol li a {
  color: #fff;
}
.page-breadcrumb ol li.active {
  color: #fff;
}
.page-breadcrumb .breadcrumb-item + .breadcrumb-item:before {
color: #fff;
font-size: 10px;
}


.dashboard-input input ,.dashboard-input select{
	padding: 12px;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
}

.dashboard-input label{
	font-size: 16px;
	font-weight: 700;
	color: #055c97;
	padding: 0px 15px;
}


.ql-editor p{
  direction: rtl !important;
  text-align: right !important;
  min-height: 200px !important;
  font-size:  20px !important;
}


body {
  background-color: var(--white-color);
}

/* ================ */
.container {
  padding: 0 !important;
}
a:hover {
  color: inherit;
}
.Home_navbar_container__9ZRH2 .Home_Links_container__o3KNF a{
  margin: 10px 20px;
}

.Home_nav_btn__YbT5l a{
  color: #fff !important;
}
.Home_nav_btn__YbT5l a:hover{
  color: #055c97 !important;
}
.Home_img_container__BCN6C .Home_header_slider__uHkdj .Home_slick_Container__hg_x_ h3{
  color: #fff !important;
}

/* @media (max-width: 767.98px) { 
  .headerResponsive{
    height: 100vh !important;
  }  
 } */
/* .headerResponsive{
  height: 100vh !important;
} */


.Home_image_header__SYasU{
  position:  relative !important;
}
.Home_grid_section__A_kQo .Home_client_descrip__dDas9 img{
  width: auto !important;
  height: auto !important;
}
